@model AddPasswordExternalLoginViewModel
@{
    ViewBag.Title = "Add Password";
}

<h4>Add a Password to your account</h4>
<p class="text-black-50">So you can be able to login using a password</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="NewPassword" class="form-control" placeholder="New password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Passowrd</button>
</form>