@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<form method="post">
    <h4>Passowrd</h4>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Passowrd" class="form-control" placeholder="Current password" />
        <span asp-validation-for="Passowrd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="NewPassowrd" class="form-control" placeholder="New password" />
        <span asp-validation-for="NewPassowrd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassowrd" class="form-control" placeholder="Confirm password" />
        <span asp-validation-for="ConfirmPassowrd" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Passowrd</button>
</form>