
@{

    ViewBag.Title = "Email confirm";
}
<br />
<br />
<br />
<br />
<div>
    <h1>Email had been confirmed</h1>
    <p class="text-dark">>
        Your account has been confirmed successfully! Please, <a asp-action="Login">click here to log in</a>.
    </p>
</div>