@model ChangeEmailViewModel
@{ 
    ViewBag.Title = "Email changed confirmation";
}
    <h3 class="text-danger">Invalid token</h3>
    <p class="text-danger">An unexpected error has occured while 
    processing your request, please try again later.</p>