@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot password";
}
<br />
<br />
<br />
<br />
<div class="login-form ">
    <h1>Forgot Password</h1>
    <form method="post" asp-action="forgotPassword" asp-controller="account">
        <div asp-validation-summary="All" class="text-white"></div>
        <div class="form-group">
            <input id="input" type="email" asp-for="Email" name="Email" placeholder="E-mail Address">
            <span class="input-icon" id="input-icon"><i class="ion-android-mail"></i></span>
        </div>
        <button class="login-btn" type="submit">Submit</button>
    </form>
</div>