
@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br />
<br />

<h1>Forgot Password Confirmation</h1>
<p class="text-dark">>
    A link has been sent to your email address. Please, check your email to reset your password.
</p>